body {
  margin: 0px;
  padding: 0px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 600;
}

input {
  border: none;
  background: inherit;
}

.field {
  font-family: "Courier New", "Arial", sans-serif;
  font-size: 30px;
}

.item-checkbox {
  display: none;
}

.background {
  background-image: url(img/page_background.png);
  width: 100%;
  margin: 0 auto;
}

.container {
  background-image: url(img/background_container.png);
  width: 770px;
  margin: 0 auto;
  padding-top: 48px;
  padding-left: 120px;
  padding-right: 110px;
  padding-bottom: 140px;
  background-color: #c69e7d;
}

.form-title {
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 10px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-logo {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 50px;
}

.form-checkbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-weight: bold;
}

.form-checkbox__flex {
  width: 34%;
  letter-spacing: -1px;
}

.form-checkbox__flex:nth-child(3) {
  width: 32%;
}

.form-checkbox__flex:nth-child(3)>.form-checkbox__wrapper  {
  padding-left: 30px;
}

.form-text {
  font-family: caption;
  font-stretch: expanded;
  font-size: 15px;
  font-weight: normal;
  color: #655e58;
  margin: 10px 0px 28px 0px;
  line-height: 23px;
/*  letter-spacing: 1px;*/
}

.form-wrapper_size {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}

.name-field {
  position: absolute;
  top: 0px;
  padding-left: 35px;
  width: 100%;
}

.birthday-field {
  position: absolute;
  bottom: 21px;
  padding-left: 30px;  
}

.town-field {
  position: absolute;
  bottom: 30px;
  padding-left: 30px;  
}

.skype-field {
  position: absolute;
  bottom: 26px;
  padding-left: 30px;  
}

.email-field {
  position: absolute;
  bottom: 30px;
  padding-left: 30px;  
  width: 100%;
}

.form-wrapper_name::after {
  content: "";
  position: absolute;
  width: 625px;
  height: 2px;
  left: 145px;
  top: 43px;
  background-color: #4d214f;
}

.form-wrapper_birthday::after {
  content: "";
  position: absolute;
  width: 619px;
  height: 2px;
  left: 155px;
  top: 42px;
  background-color: #4d214f;
}

.form-wrapper_town::after {
  content: "";
  position: absolute;
  width: 570px;
  height: 2px;
  left: 200px;
  top: 39px;
  background-color: #4d214f;
}

.form-wrapper_skype::after {
  content: "";
  position: absolute;
  width: 695px;
  height: 3px;
  left: 75px;
  top: 40px;
  background-color: #4d214f;
}

.form-wrapper_email::after {
  content: "";
  position: absolute;
  width: 695px;
  height: 3px;
  left: 75px;
  top: 36px;
  background-color: #4d214f;
}

.form-wrapper_item {
  padding-bottom: 30px;
}

.form-checkbox__wrapper {
  position: relative;
  padding-left: 26px;
  padding-bottom: 11px;
}

.html-checkbox + label::before {
  position: absolute;
  left: 0;
  top: 3px;
  display: block;
  content: "";
  padding: 5px;
  width: 10px;
  height: 10px;
  background-color: #cbac91;
  background: url("img/checkbox_icon.png") no-repeat scroll 0 0;
  border: none;
}

.html-checkbox:checked + label::before {
  position: absolute;
  left: 3px;
  top: 0px;
  background: url("img/checkbox.png") no-repeat scroll 0 0;
  background-size: auto;
  background-position: center;
}

.html-checkbox + label::after {
  position: absolute;
  left: 0px;
  top: 3px;
  display: block;
  content: "";
  padding: 5px;
  width: 10px;
  height: 10px;
  background-color: #cbac91;
  background: url("img/checkbox_icon.png") no-repeat scroll 0 0;
  border: none;
}

.html-checkbox:checked + label::after {
  position: absolute;
  left: 0px;
  top: 3px;
  background: url("img/checkbox_icon.png") no-repeat scroll 0 0;
  background-size: auto;
  background-position: center;
}

.css-checkbox + label::before {
  position: absolute;
  left: 0;
  top: 3px;
  display: block;
  content: "";
  padding: 5px;
  width: 10px;
  height: 10px;
  background-color: #cbac91;
  background: url("img/checkbox_icon.png") no-repeat scroll 0 0;
  border: none;
}

.css-checkbox:checked + label::before {
  position: absolute;
  left: 3px;
  top: 0px;
  background: url("img/checkbox.png") no-repeat scroll 0 0;
  background-size: auto;
  background-position: center;
}

.css-checkbox + label::after {
  position: absolute;
  left: 0px;
  top: 3px;
  display: block;
  content: "";
  padding: 5px;
  width: 10px;
  height: 10px;
  background-color: #cbac91;
  background: url("img/checkbox_icon.png") no-repeat scroll 0 0;
  border: none;
}

.css-checkbox:checked + label::after {
  position: absolute;
  left: 0px;
  top: 3px;
  background: url("img/checkbox_icon.png") no-repeat scroll 0 0;
  background-size: auto;
  background-position: center;
}

.scss-checkbox + label::before {
  position: absolute;
  left: 0;
  top: 3px;
  display: block;
  content: "";
  padding: 5px;
  width: 10px;
  height: 10px;
  background-color: #cbac91;
  background: url("img/checkbox_icon.png") no-repeat scroll 0 0;
  border: none;
}

.scss-checkbox:checked + label::before {
  position: absolute;
  left: 3px;
  top: 0px;
  background: url("img/checkbox.png") no-repeat scroll 0 0;
  background-size: auto;
  background-position: center;
}

.scss-checkbox + label::after {
  position: absolute;
  left: 0px;
  top: 3px;
  display: block;
  content: "";
  padding: 5px;
  width: 10px;
  height: 10px;
  background-color: #cbac91;
  background: url("img/checkbox_icon.png") no-repeat scroll 0 0;
  border: none;
}

.scss-checkbox:checked + label::after {
  position: absolute;
  left: 0px;
  top: 3px;
  background: url("img/checkbox_icon.png") no-repeat scroll 0 0;
  background-size: auto;
  background-position: center;
}

.bem-checkbox + label::before {
  position: absolute;
  left: 0;
  top: 3px;
  display: block;
  content: "";
  padding: 5px;
  width: 10px;
  height: 10px;
  background-color: #cbac91;
  background: url("img/checkbox_icon.png") no-repeat scroll 0 0;
  border: none;
}

.bem-checkbox:checked + label::before {
  position: absolute;
  left: 3px;
  top: 0px;
  background: url("img/checkbox.png") no-repeat scroll 0 0;
  background-size: auto;
  background-position: center;
}

.bem-checkbox + label::after {
  position: absolute;
  left: 0px;
  top: 3px;
  display: block;
  content: "";
  padding: 5px;
  width: 10px;
  height: 10px;
  background-color: #cbac91;
  background: url("img/checkbox_icon.png") no-repeat scroll 0 0;
  border: none;
}

.bem-checkbox:checked + label::after {
  position: absolute;
  left: 0px;
  top: 3px;
  background: url("img/checkbox_icon.png") no-repeat scroll 0 0;
  background-size: auto;
  background-position: center;
}

.jquery-checkbox + label::before {
  position: absolute;
  left: 0;
  top: 3px;
  display: block;
  content: "";
  padding: 5px;
  width: 10px;
  height: 10px;
  background-color: #cbac91;
  background: url("img/checkbox_icon.png") no-repeat scroll 0 0;
  border: none;
}

.jquery-checkbox:checked + label::before {
  position: absolute;
  left: 3px;
  top: 0px;
  background: url("img/checkbox.png") no-repeat scroll 0 0;
  background-size: auto;
  background-position: center;
}

.jquery-checkbox + label::after {
  position: absolute;
  left: 0px;
  top: 3px;
  display: block;
  content: "";
  padding: 5px;
  width: 10px;
  height: 10px;
  background-color: #cbac91;
  background: url("img/checkbox_icon.png") no-repeat scroll 0 0;
  border: none;
}

.jquery-checkbox:checked + label::after {
  position: absolute;
  left: 0px;
  top: 3px;
  background: url("img/checkbox_icon.png") no-repeat scroll 0 0;
  background-size: auto;
  background-position: center;
}

.vuejs-checkbox + label::before {
  position: absolute;
  left: 0;
  top: 3px;
  display: block;
  content: "";
  padding: 5px;
  width: 10px;
  height: 10px;
  background-color: #cbac91;
  background: url("img/checkbox_icon.png") no-repeat scroll 0 0;
  border: none;
}

.vuejs-checkbox:checked + label::before {
  position: absolute;
  left: 3px;
  top: 0px;
  background: url("img/checkbox.png") no-repeat scroll 0 0;
  background-size: auto;
  background-position: center;
}

.vuejs-checkbox + label::after {
  position: absolute;
  left: 0px;
  top: 3px;
  display: block;
  content: "";
  padding: 5px;
  width: 10px;
  height: 10px;
  background-color: #cbac91;
  background: url("img/checkbox_icon.png") no-repeat scroll 0 0;
  border: none;
}

.vuejs-checkbox:checked + label::after {
  position: absolute;
  left: 0px;
  top: 3px;
  background: url("img/checkbox_icon.png") no-repeat scroll 0 0;
  background-size: auto;
  background-position: center;
}

.nuxtjs-checkbox + label::before {
  position: absolute;
  left: 0;
  top: 3px;
  display: block;
  content: "";
  padding: 5px;
  width: 10px;
  height: 10px;
  background-color: #cbac91;
  background: url("img/checkbox_icon.png") no-repeat scroll 0 0;
  border: none;
}

.nuxtjs-checkbox:checked + label::before {
  position: absolute;
  left: 3px;
  top: 0px;
  background: url("img/checkbox.png") no-repeat scroll 0 0;
  background-size: auto;
  background-position: center;
}

.nuxtjs-checkbox + label::after {
  position: absolute;
  left: 0px;
  top: 3px;
  display: block;
  content: "";
  padding: 5px;
  width: 10px;
  height: 10px;
  background-color: #cbac91;
  background: url("img/checkbox_icon.png") no-repeat scroll 0 0;
  border: none;
}

.nuxtjs-checkbox:checked + label::after {
  position: absolute;
  left: 0px;
  top: 3px;
  background: url("img/checkbox_icon.png") no-repeat scroll 0 0;
  background-size: auto;
  background-position: center;
}

.git-checkbox + label::before {
  position: absolute;
  left: 0;
  top: 3px;
  display: block;
  content: "";
  padding: 5px;
  width: 10px;
  height: 10px;
  background-color: #cbac91;
  background: url("img/checkbox_icon.png") no-repeat scroll 0 0;
  border: none;
}

.git-checkbox:checked + label::before {
  position: absolute;
  left: 3px;
  top: 0px;
  background: url("img/checkbox.png") no-repeat scroll 0 0;
  background-size: auto;
  background-position: center;
}

.git-checkbox + label::after {
  position: absolute;
  left: 0px;
  top: 3px;
  display: block;
  content: "";
  padding: 5px;
  width: 10px;
  height: 10px;
  background-color: #cbac91;
  background: url("img/checkbox_icon.png") no-repeat scroll 0 0;
  border: none;
}

.git-checkbox:checked + label::after {
  position: absolute;
  left: 0px;
  top: 3px;
  background: url("img/checkbox_icon.png") no-repeat scroll 0 0;
  background-size: auto;
  background-position: center;
}

.adaptive-checkbox + label::before {
  position: absolute;
  left: 0;
  top: 3px;
  display: block;
  content: "";
  padding: 5px;
  width: 10px;
  height: 10px;
  background-color: #cbac91;
  background: url("img/checkbox_icon.png") no-repeat scroll 0 0;
  border: none;
}

.adaptive-checkbox:checked + label::before {
  position: absolute;
  left: 3px;
  top: 0px;
  background: url("img/checkbox.png") no-repeat scroll 0 0;
  background-size: auto;
  background-position: center;
}

.adaptive-checkbox + label::after {
  position: absolute;
  left: 0px;
  top: 3px;
  display: block;
  content: "";
  padding: 5px;
  width: 10px;
  height: 10px;
  background-color: #cbac91;
  background: url("img/checkbox_icon.png") no-repeat scroll 0 0;
  border: none;
}

.adaptive-checkbox:checked + label::after {
  position: absolute;
  left: 0px;
  top: 3px;
  background: url("img/checkbox_icon.png") no-repeat scroll 0 0;
  background-size: auto;
  background-position: center;
}

.letter-checkbox + label::before {
  position: absolute;
  left: 0;
  top: 3px;
  display: block;
  content: "";
  padding: 5px;
  width: 10px;
  height: 10px;
  background-color: #cbac91;
  background: url("img/checkbox_icon.png") no-repeat scroll 0 0;
  border: none;
}

.letter-checkbox:checked + label::before {
  position: absolute;
  left: 3px;
  top: 0px;
  background: url("img/checkbox.png") no-repeat scroll 0 0;
  background-size: auto;
  background-position: center;
}

.letter-checkbox + label::after {
  position: absolute;
  left: 0px;
  top: 3px;
  display: block;
  content: "";
  padding: 5px;
  width: 10px;
  height: 10px;
  background-color: #cbac91;
  background: url("img/checkbox_icon.png") no-repeat scroll 0 0;
  border: none;
}

.letter-checkbox:checked + label::after {
  position: absolute;
  left: 0px;
  top: 3px;
  background: url("img/checkbox_icon.png") no-repeat scroll 0 0;
  background-size: auto;
  background-position: center;
}

.php-checkbox + label::before {
  position: absolute;
  left: 0;
  top: 3px;
  display: block;
  content: "";
  padding: 5px;
  width: 10px;
  height: 10px;
  background-color: #cbac91;
  background: url("img/checkbox_icon.png") no-repeat scroll 0 0;
  border: none;
}

.php-checkbox:checked + label::before {
  position: absolute;
  left: 3px;
  top: 0px;
  background: url("img/checkbox.png") no-repeat scroll 0 0;
  background-size: auto;
  background-position: center;
}

.php-checkbox + label::after {
  position: absolute;
  left: 0px;
  top: 3px;
  display: block;
  content: "";
  padding: 5px;
  width: 10px;
  height: 10px;
  background-color: #cbac91;
  background: url("img/checkbox_icon.png") no-repeat scroll 0 0;
  border: none;
}

.php-checkbox:checked + label::after {
  position: absolute;
  left: 0px;
  top: 3px;
  background: url("img/checkbox_icon.png") no-repeat scroll 0 0;
  background-size: auto;
  background-position: center;
}

.mysql-checkbox + label::before {
  position: absolute;
  left: 0;
  top: 3px;
  display: block;
  content: "";
  padding: 5px;
  width: 10px;
  height: 10px;
  background-color: #cbac91;
  background: url("img/checkbox_icon.png") no-repeat scroll 0 0;
  border: none;
}

.mysql-checkbox:checked + label::before {
  position: absolute;
  left: 3px;
  top: 0px;
  background: url("img/checkbox.png") no-repeat scroll 0 0;
  background-size: auto;
  background-position: center;
}

.mysql-checkbox + label::after {
  position: absolute;
  left: 0px;
  top: 3px;
  display: block;
  content: "";
  padding: 5px;
  width: 10px;
  height: 10px;
  background-color: #cbac91;
  background: url("img/checkbox_icon.png") no-repeat scroll 0 0;
  border: none;
}

.mysql-checkbox:checked + label::after {
  position: absolute;
  left: 0px;
  top: 3px;
  background: url("img/checkbox_icon.png") no-repeat scroll 0 0;
  background-size: auto;
  background-position: center;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*slider*/

.slidecontainer {
  width: 100%; 
  position: relative;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 765px;  
  height: 2px;
  background-image: url(img/slider_line_main.png);
  outline:none;
}

.slider::after {
  content: "";
  position: absolute;
  width: 765px;
  height: 2px;
  left: 0px;
  top: 0px;
  background-color: #4d214f;
}

.slider:hover {
  opacity: 1; 
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 20px; 
  height: 14px;  
  background: inherit;  
  cursor: pointer;
  background-image: url(img/slider_pointer.png);
}

.slider::-moz-range-thumb {
  width: 25px; 
  height: 25px; 
  background: #4CAF50; 
  cursor: pointer; 
}

.option-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  font-size: 13px;
}

option {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}