body {
  margin: 0px;
  padding: 0px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 600;
}

input {
  border: none;
  background: inherit;
}

.field {
  font-family: "Courier New", "Arial", sans-serif;
  font-size: 30px;
}

.background {
  background-image: url(img/page_background.png);
  width: 100%;
  margin: 0 auto;
}

.container {
  background-image: url(img/background_container.png);
  width: 770px;
  margin: 0 auto;
  padding-top: 48px;
  padding-left: 115px;
  padding-right: 115px;
  padding-bottom: 140px;
  background-color: #c69e7d;
}

.form-title {
  font-size: 21px;
  font-weight: bold;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-logo {
  text-align: center;
}

.form-checkbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.form-checkbox__flex {
  width: 33%;
}

.form-text {
  font-size: 15px;
  font-weight: normal;
  color: #655e58;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}